@{
    var message = TempData["Message"] == null ? "" : TempData["Message"].ToString();
    var messageError = TempData["Error"] == null ? "" : TempData["Error"].ToString();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] | CSRPulse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully customize CSR Product." name="description" />
    <meta content="Microware Computing & Consulting Pvt. Ltd" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico" asp-append-version="true">

    <!-- App css -->

    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/app-creative.css" rel="stylesheet" type="text/css" id="light-style" />
    <link href="~/assets/css/app-creative-dark.css" rel="stylesheet" type="text/css" id="dark-style" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    <!-- Data Table css -->
    <link href="~/assets/css/vendor/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/assets/css/vendor/responsive.bootstrap4.css" rel="stylesheet" />


    <!-- bundle -->
    <script src="~/assets/js/vendor.min.js"></script>
    <script src="~/assets/js/app.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="~/bootstrap-growl/jquery.bootstrap-growl.js"></script>

    <!-- data tables -->
    <script src="~/assets/js/vendor/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/vendor/dataTables.bootstrap4.js"></script>
    <script src="~/assets/js/vendor/dataTables.responsive.min.js"></script>
    <script src="~/assets/js/vendor/responsive.bootstrap4.min.js"></script>
    <script src="~/assets/js/pages/demo.datatable-init.js"></script>

    <script>      
        $(document)
            .ajaxStart(function () {
                $('#AjaxLoader').show();
            })
            .ajaxStop(function () {
                $('#AjaxLoader').hide();
            });
    </script>
</head>
<body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
<partial name="_LoadingPanel" />
    <!-- Begin page -->
    <div class="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        <partial name="_LeftSidebar" />
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">
                <!-- Topbar Start -->
                <partial name="_Topbar" />
                <!-- end Topbar -->
                <!-- Start Content-->
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- container -->

            </div>
            <!-- content -->
            <!-- Footer Start -->
            <partial name="_footer" />
            <!-- end Footer -->

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->
    <!-- Right Sidebar -->
    <partial name="_RightSidebar" />

    <div class="rightbar-overlay"></div>
    <!-- /End-bar -->


    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            if ('@messageError' != "") {
                var str = '@HtmlEncoder.Encode(@messageError)';
                str = str.replace(/&amp;lt;/g, "<").replace(/&amp;gt;/g, ">").replace(/&amp;#39;/g, "'");
                $.bootstrapGrowl("<i class='dripicons-warning me-2'></i> " + str + "", {
                    type: 'warning',
                    align: 'center',
                    width: 'auto',
                    allow_dismiss: true,
                    delay: 10000
                });
            }
            if ('@message' != "") {
                $.bootstrapGrowl("<i class='dripicons-checkmark me-2'></i> " + '@message', {
                    type: 'success',
                    align: 'center',
                    width: 'auto',
                    allow_dismiss: true,
                    delay: 10000
                });
            }
        });

    function commonMessage(msgType, msg) {

        if (msgType == "error") {
            var str = '@HtmlEncoder.Encode(@messageError)';
            str = str.replace(/&amp;lt;/g, "<").replace(/&amp;gt;/g, ">").replace(/&amp;#39;/g, "'");
            $.bootstrapGrowl('<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong><i class="fa fa-times-circle"></i> Error:  </strong>' + msg, {
                align: 'center',
                width: 'auto',
                allow_dismiss: false,
                delay: 10000
            });
    }
    else if (msgType == "success") {
        $.bootstrapGrowl('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong><i class="fa fa-check-circle"></i> Success:  </strong>' + msg, {
            align: 'center',
            width: 'auto',
            allow_dismiss: false,
            delay: 10000
        });
    }
        else if (msgType == "warning") {
            $.bootstrapGrowl('<div class="alert alert-warning alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong><i class="fa fa-exclamation-triangle"></i> Warning:  </strong>' + msg, {
                align: 'center',
                width: 'auto',
                allow_dismiss: false,
                delay: 10000
            });
        }
    }
    </script>
</body>
</html>