@model SubActivity
@{
    ViewData["Title"] = "SubActivity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">CSRPulse</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Master</a></li>
                    <li class="breadcrumb-item active">SubActivity</li>
                </ol>
            </div>
            <h4 class="page-title">Edit SubActivity</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form method="post" asp-controller="SubActivity" asp-action="Edit">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="SubActivityId" />
                    <div class="row">
                        <div class="col-xxl-6 col-xl-6 col-lg-8 col-md-8 col-sm-12 col-12">
                            <div class="mb-3">
                                <label asp-for="ThemeId" class="form-label required"></label>
                                <input type="hidden" asp-for="ThemeId" />
                                <input type="text" asp-for="ThemeName" readonly class="form-control" value="@Model.ThemeName">
                            </div>

                            <div class="mb-3">
                                <label asp-for="ActivityId" class="form-label required"></label>
                                <input type="hidden" asp-for="ActivityId" />
                                <input type="text" asp-for="ActivityName" readonly class="form-control" value="@Model.ActivityName">
                            </div>

                            <div class="mb-3">
                                <input type="text" asp-for="SubActivityName" class="form-control" maxlength="200" placeholder="Enter SubActivity Name (max 200 characters)" autocomplete="off">
                                <span asp-validation-for="SubActivityName" class="invalid"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="SubActivityCode" class="form-label required"></label>
                                <input type="text" asp-for="SubActivityCode" class="form-control" maxlength="3" placeholder="Enter SubActivity Code (max 3 characters)" autocomplete="off">
                                <span asp-validation-for="SubActivityCode" class="invalid"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="IsActive" class="form-label"></label>
                                <div>
                                    <input asp-for="IsActive" type="checkbox" id="@Model.SubActivityId" data-bs-toggle="modal" data-bs-target="#info-header-modal" data-switch="success" />
                                    <label for="@Model.SubActivityId" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                                </div>
                                <span asp-validation-for="IsActive" class="invalid"></span>
                            </div>


                            <div class="mb-2 text-end">
                                <a asp-area="" asp-controller="SubActivity" asp-action="Index" class="btn btn-light"><i class="dripicons-reply m-1"></i> Back to list </a>
                                <button class="btn btn-primary" type="submit"><i class="uil-file m-1"></i> Update </button>
                            </div>
                        </div>

                    </div> <!-- end card -->
                </form>
            </div> <!-- end card body-->
        </div>
    </div>
</div>
