@model IEnumerable<User>
@{
    ViewData["Title"] = "User List";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">CSRPulse</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Registration</a></li>
                    <li class="breadcrumb-item active">User List</li>
                </ol>
            </div>
            <h4 class="page-title">User List</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-end">
                    <a asp-area="Admin" asp-controller="Registration" asp-action="Create" class="btn btn-danger btn-rounded mb-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Click here, to add new user."><i class="mdi mdi-plus-circle ms-1"></i> Create User</a>
                </div>
                <table id="basic-datatable" class="table table-hover dt-responsive nowrap w-100">
                    <thead class="thead-light">
                        <tr>
                            <th width="5%">#</th>
                            <th>Full Name</th>
                            <th>Department</th>
                            <th>User Name</th>
                            <th width="5%">Active</th>
                            <th width="5%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() > 0)
                        {
                            @foreach (var user in Model)
                            {
                                <tr>
                                    <td>
                                        <span>@(Model.ToList().IndexOf(user) +1)</span>
                                    </td>
                                    <td class="table-user">
                                        @if (user.ImageName == null)
                                            user.ImageName = "sample-profile.png";
                                        <img src="~/assets/images/users/@user.ImageName" asp-append-version="true" alt="Img" class="me-2 rounded-circle" />
                                        <span data-bs-toggle="tooltip" data-bs-placement="top" title="Click here, to edit this user.">  @Html.ActionLink(user.FullName, "Edit", "Registration", new { userId = user.UserID })</span>

                                    </td>
                                    <td>@user.DepartmentName</td>
                                    <td>@user.UserName</td>
                                    <td>
                                        <div>
                                            <input type="checkbox" id="switch_@user.UserID" data-bs-toggle="modal" data-bs-target="#info-header-modal" data-switch="success" onchange="openpopup(this)" @if (user.IsActive == true) { <text> checked="checked" </text> } />
                                            <label for="switch_@user.UserID" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                                        </div>
                                    </td>
                                    <td class="text-center text-nowrap">
                                        <a class="action-icon @if (user.HasMultipelRole) {<text> text-success </text> }" style="cursor:pointer; " onclick="AssignRole(@user.UserID)" data-bs-toggle="tooltip" data-bs-placement="top" title="Click here, to assign Role">
                                            <i class="uil uil-users-alt"></i>
                                        </a>
                                        @if (user.WrongAttemp == 0 && (user.LockDate ?? DateTime.Now).AddHours(24) > DateTime.Now)
                                        {
                                            <a class="action-icon text-danger" style="cursor:pointer" onclick="LockUnlockUser(@user.UserID,false)" data-bs-toggle="tooltip" data-bs-placement="top" title="Click here, to lock this user."> <i class="uil-padlock"></i></a>
                                        }
                                        else
                                        { <a class="action-icon text-primary" style="cursor:pointer" onclick="LockUnlockUser(@user.UserID,true)" data-bs-toggle="tooltip" data-bs-placement="top" title="Click here, to unlock this user."> <i class="uil-unlock"></i></a>}

                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="7">No Records Found</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<partial name="_Confirmation" />
<div id="assignrole-div">
    @await Html.PartialAsync("_AssignRole", new UserRoleModel())
</div>
@section Scripts{
    <script type="text/javascript">
        function openpopup(cnt) {
            var id = cnt.id.split('_')[1];
            $('.btnconfirm').attr('id', id + '_' + cnt.checked);

        }
        function ActiveDeActive(obj) {
            var id = obj.id.split('_')[0];
            var isChecked = obj.id.split('_')[1];
            $.ajax({
                type: 'POST',
                dataType: 'JSON',
                url: '/Admin/Registration/UserActiveDeActive',
                data: { id: id, isChecked: isChecked },
                success: function (responce) {
                    if (responce) {
                        commonMessage('success', 'Status changed successfully.');
                    }

                    else {
                        commonMessage('warning', 'Status changing failed.');
                    }
                },
                error: function (responce) {
                    commonMessage('error', 'Status changing failed.');
                }
            });
        }

        function AssignRole(userId) {
            $.ajax({
            type: 'GET',
            dataType: 'JSON',
            url: '@Url.Action("AssignRole", "Registration", new { Area="Admin"})',
                data: { userId: userId },
                success: function (data) {

                    $("#assignrole-div").html(data.htmlData);
                    $('#assign-role-modal').modal('show');
            },
            error: function (data) {
                commonMessage('error', 'Switch Account failed.');
            }
        });
        }

        function onAssignRole(data) {
            if (data.flag == 1) {
                $('#assign-role-modal').modal('hide');
                commonMessage('success', 'Roles assigned successfully.');
            }
            else {
                commonMessage('error', 'Assign role failed!');
            }
        }
        function LockUnlockUser(userId, ulock) {
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                url: '@Url.Action("LockUnlockUser", "Registration", new { Area="Admin"})',
                data: { userId: userId, ulock: ulock},
                success: function (data) {
                    debugger;
                    if (data.flag) {
                        location.reload();
                    }
                    else {
                        commonMessage('error', 'Error occurred!');
                    }
                },
                error: function (data) {
                    commonMessage('error', 'Operation failed!');
                }
            });
        }

    </script>


}
