@model IEnumerable<AuditReviewModule>
<div class="card">
    <div class="card-body">
        <div class="text-end">
            <a asp-area="" asp-controller="AuditReviewModule" asp-action="Create" class="btn btn-danger btn-sm btn-rounded mb-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Click here, to add new module."><i class="mdi mdi-plus-circle me-1"></i> Add New Module</a>
        </div>
        <table class="basic-datatable table table-centered table-hover w-100 dt-responsive nowrap dataTable no-footer dtr-inline">
            <thead class="thead-light">
                <tr>
                    <th width="5%">#</th>
                    <th>@Html.DisplayNameFor(model => model.Module)</th>
                    <th width="10%">@Html.DisplayNameFor(model => model.Sequence)</th>
                    <th width="5%">@Html.DisplayNameFor(model => model.IsActive)</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    @foreach (var module in Model)
                    {
                        <tr>
                            <td>
                                <span>@(Model.ToList().IndexOf(module) +1)</span>
                            </td>

                            <td><span data-bs-toggle="tooltip" data-bs-placement="top" title="Click here, to edit this module.">  @Html.ActionLink(module.Module, "Edit", "AuditReviewModule", new { moduleId = module.ModuleId })</span></td>
                            <td>
                                @Html.DisplayFor(model => module.Sequence)
                            </td>
                            <td>
                                <div>
                                    <input type="checkbox" id="switch_@module.ModuleId" data-bs-toggle="modal" data-bs-target="#info-header-modal" data-switch="success" onchange="openpopup(this)" @if (module.IsActive == true) { <text> checked="checked" </text> } />
                                    <label for="switch_@module.ModuleId" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4">No Records Found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        Basicdatatable();
    });
</script>