@model IEnumerable<Block>
<div class="card">
    <div class="card-body">
        <div class="text-end">
            <a asp-controller="Block" asp-action="Create" class="btn btn-danger btn-rounded mb-3"><i class="mdi mdi-plus"></i> Add New Block</a>
        </div>
        <table id="basic-datatable" class="table table-hover dt-responsive nowrap w-100">
            <thead class="thead-light">
                <tr>
                    <th width="5%">#</th>
                    <th>Block Name</th>
                    <th>Block Code</th>
                    <th>State</th>
                    <th>District</th>
                    <th width="5%">Active</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    @foreach (var block in Model)
                    {
                        <tr>
                            <td>
                                <span>@(Model.ToList().IndexOf(block) +1)</span>
                            </td>

                            <td><span data-bs-toggle="tooltip" data-bs-placement="top" title="Click here, to edit this block.">  @Html.ActionLink(block.BlockName, "Edit", "Block", new { rid = block.BlockId })</span></td>
                            <td>@block.BlockCode</td>
                            <td>@block.StateName</td>
                            <td>@block.DistrictName</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="switch_@block.BlockId" data-bs-toggle="modal" data-bs-target="#info-header-modal" onchange="openpopup(this)" data-switch="success" @if (block.IsActive == true) { <text> checked="checked" </text> } />
                                    <label for="switch_@block.BlockId" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                                </div>
                            </td>
                        </tr>

                    }
                }
                else
                {
                    <tr>
                        <td colspan="6">No Records Found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>