@model CSRPulse.Models.DistrictImportModel
@using CSRPulse.Common
@using System.Data;
@{

    var validationResultMsg = Model.Message;
    var msgClass = Model.NoOfErrors > 0 ? "alert alert-danger" : "alert alert-success";
    validationResultMsg = Model.NoOfErrors == -1 ? "Please select file." :
        Model.NoOfErrors == -2 ? "Please select valid file." : validationResultMsg;
    msgClass = Model.NoOfErrors == -1 ? "alert alert-danger" :
    Model.NoOfErrors == -2 ? "alert alert-danger" : msgClass;

}
<script>
    $('.toggle-tooltip').tooltip();
    if(@Model.NoOfErrors==0){
        $('#btnSave').removeClass('d-none');
    }
</script>
<div id="validation-hdr" class="pull-right @msgClass" role="alert">
    @validationResultMsg
</div>

<div id="tblDistrictGrid" style="max-width:93%;min-width:100%;min-height:600px;max-height:600px;overflow-x:scroll;overflow-y:scroll;">
    <table class="table dt-responsive w-100 table-bordered">
        <thead>
            <tr>
                @if (Model != null && Model.DistrictInput != null && Model.DistrictInput.Columns.Count > 0)
                {
                    foreach (var item in Model.DistrictInput.Columns)
                    {
                        if (item.ToString() != "State" && item.ToString() != "District" && item.ToString() != "error" && item.ToString() != "warning" && item.ToString() != "isDuplicatedRow")
                        {
                            <th>
                                @ExtensionMethods.AddSpacesToSentence(Convert.ToString(item))
                            </th>
                        }
                    }
                }
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null && Model.DistrictInput != null && Model.DistrictInput.Rows.Count > 0)
                {
                    Dictionary<string, string> dicErrorMsg = Model.ErrorMsgCollection;
                    string str1 = string.Empty;
                    var title = string.Empty;
                    try
                    {
                        foreach (DataRow dr in Model.DistrictInput.Rows)
                        {
                            int err = 0;
                            string[] arrError = dr["error"].ToString().Split('|').ToArray();
                            if (!Convert.ToBoolean(dr["isDuplicatedRow"]))
                            {
                                <tr>
                                    @foreach (DataColumn dc in Model.DistrictInput.Columns)
                                    {
                                        if (dc.ToString() != "State" && dc.ToString() != "District" && dc.ToString() != "error" && dc.ToString() != "warning" && dc.ToString() != "isDuplicatedRow")
                                        {
                                            if (dc.ToString() == "StateId" || dc.ToString() == "DistrictName" || dc.ToString() == "DistrictCode" || dc.ToString() == "DistrictShort")
                                            {
                                                title = (arrError[err].Length > 0) ? string.Format(dicErrorMsg[arrError[err]], dc.ToString()) : "";
                                            }
                                            else
                                            {
                                                title = (arrError[err].Length > 0) ? string.Format(dicErrorMsg[arrError[err]]) : "";
                                            }
                                            var errorClass = (arrError[err].Length > 0) ? "error1" : null;
                                            str1 = dr[dc].ToString();
                                            <td data-bs-toggle="tooltip" data-bs-placement="top" title="@title" class="@errorClass"> @str1</td>
                                        }
                                        err++;
                                    }
                                </tr>
                            }
                            else
                            {
                                <tr title="Duplicate Row Found" class="error1 toggle-tooltip">
                                    @foreach (DataColumn dc in Model.DistrictInput.Columns)
                                    {

                                        if (dc.ToString() != "State" && dc.ToString() != "District" && dc.ToString() != "error" && dc.ToString() != "warning" && dc.ToString() != "isDuplicatedRow")
                                        {
                                            if (dc.ToString() == "StateId" || dc.ToString() == "DistrictName" || dc.ToString() == "DistrictCode" || dc.ToString() == "DistrictShort")
                                            {
                                                title = (arrError[err].Length > 0) ? string.Format(dicErrorMsg[arrError[err]], dc.ToString()) : "";
                                            }
                                            else
                                            {
                                                title = (arrError[err].Length > 0) ? string.Format(dicErrorMsg[arrError[err]]) : "";
                                            }
                                            var errorClass = (arrError[err].Length > 0) ? "error1" : null;
                                            str1 = dr[dc].ToString();
                                            <td data-bs-toggle="tooltip" data-bs-placement="top" title="@title" class="@errorClass"> @str1</td>
                                        }
                                        err++;
                                    }
                                </tr>
                            }
                        }
                    }
                    catch (Exception ex)
                    {
                        throw ex;
                    }
                }
            }
        </tbody>
    </table>

</div>
