@model IEnumerable<District>
<div class="card">
    <div class="card-body">
        <div class="col-md text-end">
            <a asp-controller="District" asp-action="Create" class="btn btn-danger btn-sm btn-rounded mb-3"><i class="mdi mdi-plus-circle me-1"></i> Add New District</a>

            <div class="dropdown btn-group" style="vertical-align:top">
                <button class="btn btn-secondary btn-sm btn-rounded dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="dripicons-gear me-1"></i> Action
                </button>
                <div class="dropdown-menu dropdown-menu-animated">
                    <a class="dropdown-item" data-bs-toggle="tooltip" data-bs-placement="top" title="Download code refrence" asp-controller="District" asp-action="ExportRefTemplate"><i class="uil-file-download me-1"></i>Code Refrence</a>
                    <a class="dropdown-item" data-bs-toggle="tooltip" data-bs-placement="top" title="Download empty template" asp-controller="District" asp-action="ExportTemplate"><i class="uil-arrow-circle-down me-1"></i>Empty Template</a>
                    <a class="dropdown-item" data-bs-toggle="tooltip" data-bs-placement="top" title="Import template data" asp-controller="District" asp-action="Import"><i class="uil-arrow-circle-up me-1"></i>Import Data</a>
                </div>
            </div>
        </div>
        <table id="basic-datatable" class="table table-hover dt-responsive nowrap w-100">
            <thead class="thead-light">
                <tr>
                    <th width="5%">#</th>
                    <th>@Html.DisplayNameFor(m => m.DistrictName)</th>
                    <th>@Html.DisplayNameFor(m => m.DistrictCode)</th>
                    <th>@Html.DisplayNameFor(m => m.DistrictShort)</th>
                    <th>@Html.DisplayNameFor(m => m.StateName)</th>
                    <th width="5%">Active</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    @foreach (var district in Model)
                    {
                        <tr>
                            <td>
                                <span>@(Model.ToList().IndexOf(district) +1)</span>
                            </td>

                            <td><span data-bs-toggle="tooltip" data-bs-placement="top" title="Click here, to edit this district.">  @Html.ActionLink(district.DistrictName, "Edit", "District", new { rid = district.DistrictId })</span></td>
                            <td>@district.DistrictCode</td>
                            <td>@district.DistrictShort</td>
                            <td>@district.StateName</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="switch_@district.DistrictId" data-bs-toggle="modal" data-bs-target="#info-header-modal" onchange="openpopup(this)" data-switch="success" @if (district.IsActive == true) { <text> checked="checked" </text> } />
                                    <label for="switch_@district.DistrictId" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                                </div>
                            </td>
                        </tr>

                    }
                }
                else
                {
                    <tr>
                        <td colspan="6">No Records Found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        Basicdatatable();
    });
</script>