@model CSRPulse.Model.CustomerSignIn
<p class="text-muted mb-3">Enter your credential to access your CSRPulse account.</p>

<p class="text-muted"><span class="fw-bold">Company:</span> <spa>@TempData["companyName"]</spa></p>

<form asp-action="CustomerLogin" asp-controller="Account" method="post">

    @*<div class="form-group">
            @Html.LabelFor(model => model.CompanyID, htmlAttributes: new { @class = "control-label", @for = "CompanyID" })
            <input type="text" asp-for="CompanyID" class="form-control" disabled="disabled" />

        </div>*@

    <div class="mb-3">
        <input type="hidden" asp-for="CompanyID" />
        <p class="text-muted"><span>  @Html.LabelFor(model => model.CompanyID, htmlAttributes: new { @class = "fw-bold" }) :</span> <span> @Model.CompanyID</span></p>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "form-label", @for = "UserName" })
        <input type="text" asp-for="UserName" class="form-control" placeholder="Enter user name" required="" autocomplete="off">
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "form-label", @for = "Password" })
        <input type="password" asp-for="Password" class="form-control" placeholder="Enter password" required="" autocomplete="off">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <dnt-captcha asp-captcha-generator-max="999999"
                     asp-captcha-generator-min="111111"
                     asp-captcha-generator-language="English"
                     asp-captcha-generator-display-mode="ShowDigits"
                     asp-use-relative-urls="true"
                     asp-placeholder="Enter Captcha"
                     asp-validation-error-message="Please enter the Captcha."
                     asp-font-name="Tahoma"
                     asp-font-size="20"
                     asp-fore-color="#333333"
                     asp-back-color="#ccc"
                     asp-text-box-class="text-box form-control"
                     asp-text-box-template="<span class='input-group-prepend'><span class='form-group-text'></span></span>{0}"
                     asp-validation-message-class="text-danger"
                     asp-refresh-button-class="fas fa-redo"
                     asp-use-noise="false" />
    </div>
    <div class="d-grid mb-0 text-center">
        <button type="submit" name="ButtonName" class="btn btn-primary" value="LogIn"><i class="mdi mdi-login"></i> Log In </button>
    </div>
</form>
<footer class="footer footer-alt">
    <p class="text-muted"><a asp-action="ForgotPassword" asp-controller="Account" class="text-muted ms-1"><b>Forgot Your Password?</b></a></p>
</footer>