@model IEnumerable<CSRPulse.Model.Menu>

@{
    if (Model != null)
    {
        var header = Model.Where(x => x.ParentMenuId == null).OrderBy(o => o.SequenceNo);
        foreach (var hd in header)
        {
            var menuItem = Model.Where(x => x.ParentMenuId == hd.MenuId).OrderBy(o => o.SequenceNo);
            if (menuItem.Count() > 0)
            {
                <li class="dropdown nav-item">
                    <a class="dropdown-toggle text-dark nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@hd.MenuName</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="right: 0; left:auto; max-width:150px;">
                        @foreach (var menu in menuItem)
                        {
                            var childControllerName = menu.Url.Split(new char[] { '/' })[0];
                            var childActionName = menu.Url.Split(new char[] { '/' })[1];
                            <li class="nav-item"><a class="nav-link text-dark" asp-area="@menu.Area" asp-controller="@childControllerName" asp-action="@childActionName">@menu.MenuName</a> </li>
                        }
                    </ul>
                </li>
            }
            else
            {
                var controllerName = hd.Url.Split(new char[] { '/' })[0];
                var actionName = hd.Url.Split(new char[] { '/' })[1];
                <li class="nav-item"><a class="nav-link text-dark" asp-area="@hd.Area" asp-controller="@controllerName" asp-action="@actionName">@hd.MenuName</a> </li>
                @*<li class="@if (hd.MenuId == 1){<text>active</text>}"><a href='@Url.Action("MenuRedirect", "Login", new { menuId = hd.MenuId })'>@hd.MenuName</a></li>*@
            }
        }
    }
}

<script>
    (function ($) {
        $('.dropdown-menu a.dropdown-toggle').on('click', function (e) {
            if (!$(this).next().hasClass('show')) {
                $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
            }
            var $subMenu = $(this).next(".dropdown-menu");
            $subMenu.toggleClass('show');

            $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function (e) {
                $('.dropdown-submenu .show').removeClass("show");
            });

            return false;
        });
    });
</script>


