@model Partner

<form data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" asp-action="SaveNGOKeyProjects" asp-controller="Partner" data-ajax-success="onNGOKeyProjects">
    <div class="mb-2 text-end">
        <input type="hidden" asp-for="PartnerId" id="NGOKeyProjectsPId" />
        <button class="btn btn-danger btn-sm" type="submit" name="ButtonType" value="AddNGOKeyProjects"><i class="mdi mdi-plus"></i> Add New</button>
        <button class="btn btn-success btn-sm" type="submit" name="ButtonType" value="SaveNGOKeyProjects"><i class="mdi mdi-file-document-edit"></i> Save</button>
    </div>
    <div class="row">
        <div class="mb-3">
            <table class="table table-hover table-sm table-centered mb-0">
                <thead class="table-light">
                    <tr>
                        <th>#</th>
                        <th>Name of the 
                        Donor Agency</th>
                        <th>Project Objective</th>
                        <th>Project Location (District, State)</th>
                        <th>Grant Amount(₹)</th>
                        <th>Project Start(mm/yyyy)</th>
                        <th>Project End(mm/yyyy)</th>
                        <th>Additional Information, if any</th>                       
                    </tr>
                </thead>
                <tbody>
                    @if (Model.NGOKeyProjects != null)
                    {
                        for (int i = 0; i < Model.NGOKeyProjects.Count; i++)
                        {
                            <tr>
                                <td>
                                    <span>@(i+1)</span>
                                    <input type="hidden" asp-for="@Model.NGOKeyProjects[i].NgokeyProjectId" />
                                    <input type="hidden" asp-for="@Model.NGOKeyProjects[i].PartnerId" />
                                </td>
                                <td>
                                    <input type="text" asp-for="@Model.NGOKeyProjects[i].DonorAgency" class="form-control form-control-sm" maxlength="100" placeholder="You can enter max 100 characters" autocomplete="off">
                                    <span asp-validation-for="@Model.NGOKeyProjects[i].DonorAgency" class="invalid"></span>
                                </td>
                                <td>
                                    <input type="text" asp-for="@Model.NGOKeyProjects[i].ProjectObjective" class="form-control form-control-sm" maxlength="500" placeholder="You can enter max 500 characters" autocomplete="off">
                                    <span asp-validation-for="@Model.NGOKeyProjects[i].ProjectObjective" class="invalid"></span>
                                </td>
                                <td>
                                    <input type="text" asp-for="@Model.NGOKeyProjects[i].ProjectLocation" class="form-control form-control-sm" maxlength="500" placeholder="You can enter max 500 characters" autocomplete="off">
                                    <span asp-validation-for="@Model.NGOKeyProjects[i].ProjectLocation" class="invalid"></span>
                                </td>

                                <td>
                                    <input type="text" asp-for="@Model.NGOKeyProjects[i].GrantAmount" asp-format="{0:N}" class="form-control form-control-sm text-end" maxlength="10" onkeypress="return DecimalNumberOnly(event)" onblur="javascript:return CFormat(this.id)" autocomplete="off">
                                    <span asp-validation-for="@Model.NGOKeyProjects[i].GrantAmount" class="invalid"></span>
                                </td>

                                <td>
                                    <input type="text" asp-for="@Model.NGOKeyProjects[i].ProjectStart" class="form-control form-control-sm" maxlength="7" placeholder="You can enter max 7 characters" autocomplete="off">
                                    <span asp-validation-for="@Model.NGOKeyProjects[i].ProjectStart" class="invalid"></span>
                                </td>
                                <td>
                                    <input type="text" asp-for="@Model.NGOKeyProjects[i].ProjectEnd" class="form-control form-control-sm" maxlength="7" placeholder="You can enter max 7 characters" autocomplete="off">
                                    <span asp-validation-for="@Model.NGOKeyProjects[i].ProjectEnd" class="invalid"></span>
                                </td>
                                <td>
                                    <input type="text" asp-for="@Model.NGOKeyProjects[i].AdditionalInformation" class="form-control form-control-sm" maxlength="500" placeholder="You can enter max 500 characters" autocomplete="off">
                                    <span asp-validation-for="@Model.NGOKeyProjects[i].AdditionalInformation" class="invalid"></span>
                                </td>
                                
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>

<script type="text/javascript">
    function onNGOKeyProjects(data) {
        $("#div-ngokeyprojects-grid").html(data.htmlData);
        if (data.flag == 1) {
            commonMessage('success', 'NGO Key Projects Saved Successfully.');
        }
    }

</script>
