@model Partner
@using CSRPulse.Common
<form data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" asp-action="SaveGrantInflow" asp-controller="Partner" data-ajax-success="onGrantInflow">
    <div class="mb-2 text-end">
        <input type="hidden" asp-for="PartnerId" id="GrantInflowPId" />
        <button class="btn btn-danger btn-sm" type="submit" name="ButtonType" value="AddGrantInflow"><i class="mdi mdi-plus"></i> Add New</button>
        <button class="btn btn-success btn-sm" type="submit" name="ButtonType" value="SaveGrantInflow"><i class="mdi mdi-file-document-edit"></i> Save</button>
    </div>
    <div class="row">
        <div class="mb-3">
            <table class="table table-hover table-sm table-centered mb-0">
                <thead class="table-light">
                    <tr>
                        <th>#</th>
                        <th>Grant Inflow</th>
                        <th>Amount(₹)</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.NgocorpusGrantFund != null)
                    {
                        var a = 0;
                        for (int i = 0; i < Model.NgocorpusGrantFund.Count; i++)
                        {
                            if (Model.NgocorpusGrantFund[i].FundType == (int)CorpusGrantFund.GrantInflow)
                            {
                                <tr>
                                    <td>
                                        <span>@(a+1)</span>
                                        <input type="hidden" id="CorpusFundId_@a" asp-for="@Model.NgocorpusGrantFund[i].NgocorpusGrantFundId" />
                                        <input type="hidden" id="CorpusFundPartnerId_@a" asp-for="@Model.NgocorpusGrantFund[i].PartnerId" />
                                        <input type="hidden" id="CorpusFundType_@a" asp-for="@Model.NgocorpusGrantFund[i].FundType" />

                                    </td>
                                    <td>
                                        <select id="CorpusFundYearId_@a" asp-for="@Model.NgocorpusGrantFund[i].YearId" asp-items="@ViewBag.fyYears" aria-required="true" class="form-select">
                                            <option disabled="" label="Select Type" selected="" value=""></option>
                                        </select>
                                        <span asp-validation-for="@Model.NgocorpusGrantFund[i].YearId" class="invalid"></span>
                                    </td>
                                    <td>
                                        <input type="text" id="CorpusFundAmount_@a" asp-for="@Model.NgocorpusGrantFund[i].FundsAmount" asp-format="{0:N}" class="form-control form-control-sm text-end" maxlength="10" onkeypress="return DecimalNumberOnly(event)" onblur="javascript:return CFormat(this.id)" autocomplete="off">
                                        <span asp-validation-for="@Model.NgocorpusGrantFund[i].FundsAmount" class="invalid"></span>
                                    </td>
                                </tr>
                                a = (a + 1);
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>

<script type="text/javascript">
    function onGrantInflow(data) {
        $("#div-grantinflow-grid").html(data.htmlData);
        if (data.flag == 1) {
            commonMessage('success', 'Grant Inflow Saved Successfully.');
        }
    }
</script>
