@model IEnumerable<Partner>
@using CSRPulse.Common
<div class="card">
    <div class="card-body">
        <div class="text-end">
            <a asp-area="" asp-controller="Partner" asp-action="Create" class="btn btn-danger btn-sm btn-rounded mb-3"><i class="mdi mdi-plus-circle me-1"></i> Add New Partner</a>
        </div>
        <table class="basic-datatable table table-centered table-hover w-100 dt-responsive nowrap dataTable no-footer dtr-inline">
            <thead class="thead-light">
                <tr>
                    <th width="5%">#</th>
                    <th>@Html.DisplayNameFor(model => model.PartnerName)</th>
                    <th>@Html.DisplayNameFor(model => model.PartnerType)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th width="5%">@Html.DisplayNameFor(model => model.IsActive)</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    @foreach (var partner in Model)
                    {
                <tr>
                    <td>
                        <span>@(Model.ToList().IndexOf(partner) +1)</span>
                    </td>
                    <td><span data-bs-toggle="tooltip" data-bs-placement="top" title="Click here, to edit this Partner.">  @Html.ActionLink(partner.PartnerName, "Edit", "Partner", new { partnerId = partner.PartnerId })</span></td>
                    <td>@Enum.GetName(typeof(PartnerType), partner.PartnerType)</td>
                    <td>@partner.Email</td>
                    <td>
                        <div>
                            <input type="checkbox" id="switch_@partner.PartnerId" data-bs-toggle="modal" data-bs-target="#info-header-modal" data-switch="success" onchange="openpopup(this)" @if (partner.IsActive == true) { <text> checked="checked" </text> } />
                            <label for="switch_@partner.PartnerId" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                        </div>
                    </td>
                </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4">No Records Found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        Basicdatatable();
    });
</script>