@model IEnumerable<CSRPulse.Model.Customer>
@{
    ViewData["Title"] = "Customers";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">CSRPulse</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Customer</a></li>
                    <li class="breadcrumb-item active">Customer List</li>
                </ol>
            </div>
            <h4 class="page-title">Customer List</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="basic-datatable" class="table table-centered table-hover w-100 dt-responsive nowrap dataTable no-footer dtr-inline">
                    <thead class="thead-light">
                        <tr>
                            <th style="width:5%">
                                @Html.DisplayName("#")
                            </th>
                            <th>
                                @Html.DisplayName("Customer Code")
                            </th>
                            <th width="45%">
                                @Html.DisplayNameFor(model => model.CustomerName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CurrentPlan)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CurrentSubscription)
                            </th>

                            <th>
                                @Html.DisplayName("Registration date")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><span>@(Model.ToList().IndexOf(item)+1)</span></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomerCode)
                                </td>
                                <td>
                                    <a class="text-info" asp-area="Admin" asp-controller="Customer" asp-action="Details" asp-route-CustomerId="@item.CustomerId">@item.CustomerName</a>
                                </td>

                                <td class="text-center">
                                    <span class="badge badge-outline-success rounded-pill">Standard</span>
                                </td>
                                <td class="text-center">
                                    <span class="badge badge-outline-info rounded-pill">Free Trial</span>
                                </td>

                                <td>
                                    @item.CreatedOn.ToLongDateString()
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>