@model IEnumerable<CSRPulse.Model.Customer>
@{
    ViewData["Title"] = "Customers";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">CSRPulse</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Customer</a></li>
                    <li class="breadcrumb-item active">Customer List</li>
                </ol>
            </div>
            <h4 class="page-title">Customer List</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="basic-datatable" class="table dt-responsive nowrap w-100">
                    <thead class="thead-light">
                        <tr>
                            <th style="width:8%">
                                @Html.DisplayName("#")
                            </th>
                            <th>
                                @Html.DisplayName("Customer Code")
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Website)
                            </th>

                            <th>
                                @Html.DisplayName("Registration date")
                            </th>
                            <th style="width:5%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><span>@(Model.ToList().IndexOf(item)+1)</span></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomerCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomerName)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Website)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedOn)
                                </td>
                                <td class="text-center">
                                    <a asp-area="Admin" asp-controller="Customer" asp-action="Details" asp-route-CustomerId="@item.CustomerId" class="action-icon"><i class="mdi mdi-eye"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>