@model IEnumerable<CSRPulse.Model.Customer>
@{
    ViewData["Title"] = "Customer List";
}

<div class="row pt-2 pb-2">
    <div class="col">
        <h4>Customer List</h4>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">

            <thead class="thead-light">
                <tr>
                    <th style="width:8%">
                        @Html.DisplayName("#")
                    </th>
                    <th>
                        @Html.DisplayName("Customer Code")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Website)
                    </th>

                    <th>
                        @Html.DisplayName("Registration date")
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>                
                @foreach (var item in Model)
                {
                    <tr>
                        <td>                            
                            @Html.DisplayFor(modelItem => item.CustomerId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Website)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOn)
                        </td>
                        <td>
                            <a asp-area="Admin" asp-controller="Customer" asp-action="Details" asp-route-CustomerId="@item.CustomerId"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
