@model Customer
@{
    ViewData["Title"] = "Customer Details";
}
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">CSRPulse</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Customer</a></li>
                    <li class="breadcrumb-item active">Details</li>
                </ol>
            </div>
            <h4 class="page-title">Customer Details</h4>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <p class="mt-2 mb-1"><strong><i class="uil-shield-check"></i>  @Html.DisplayName("Customer Code"):</strong></p>
                <p>@Html.DisplayFor(model => model.CustomerCode)</p>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <p class="mt-2 mb-1"><strong><i class="uil-user"></i>  @Html.DisplayName("Customer Name"):</strong></p>
                <p>@Html.DisplayFor(model => model.CustomerName)</p>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <p class="mt-2 mb-1"><strong><i class="uil-envelopes"></i> @Html.DisplayNameFor(model => model.Email):</strong></p>
                <p>@Html.DisplayFor(model => model.Email)</p>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <p class="mt-2 mb-1"><strong><i class="uil uil-phone"></i> @Html.DisplayName("Phone No"):</strong></p>
                <p>@Html.DisplayFor(model => model.Telephone)</p>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <p class="mt-2 mb-1"><strong><i class="uil-globe"></i> @Html.DisplayNameFor(model => model.Website):</strong></p>
                <p>@Html.DisplayFor(model => model.Website)</p>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <p class="mt-2 mb-1"><strong><i class="uil-server"></i> @Html.DisplayName("Database Name"):</strong></p>
                <p>@Html.DisplayFor(model => model.DataBaseName)</p>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <p class="mt-2 mb-1"><strong><i class="uil uil-location"></i> @Html.DisplayNameFor(model => model.Country):</strong></p>
                <p>@Html.DisplayFor(model => model.Country)</p>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <p class="mt-2 mb-1"><strong><i class="uil uil-location"></i> @Html.DisplayNameFor(model => model.City):</strong></p>
                <p>@Html.DisplayFor(model => model.City)</p>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <p class="mt-2 mb-1"><strong><i class="uil uil-location"></i> @Html.DisplayName("Address "):</strong></p>
                <p>@Html.DisplayFor(model => model.Address)</p>
                <p>@Html.DisplayFor(model => model.Address2)</p>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <p class="mt-2 mb-1"><strong><i class="uil uil-location"></i> @Html.DisplayNameFor(model => model.PostalCode):</strong></p>
                <p>@Html.DisplayFor(model => model.PostalCode)</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5 class="text-muted">License Details</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 pl-2">
                <table class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                    <thead class="thead-light">
                        <tr>
                            <th style="width:8%">
                                @Html.DisplayName("#")
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerLicense.LicenceActID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerLicense.PlanID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerLicense.ActivationCount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerLicense.ActivationDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerLicense.LastActivationDate)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.CustomerLicenseList.Count > 0)
                        {
                            foreach (var item in Model.CustomerLicenseList.OrderByDescending(l => l.LicenceActID))
                            {
                                <tr>
                                    <td><span>@(Model.CustomerLicenseList.IndexOf(item) + 1)</span></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LicenceActID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PlanID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ActivationCount)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.ActivationDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastActivationDate)
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr class="text-center">
                                <td colspan="6">No records found.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h5 class="text-muted">Payment Details</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <table class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                    <thead class="thead-light">
                        <tr>
                            <th style="width:8%">
                                @Html.DisplayName("#")
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerPayment.PaymentID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerPayment.AmountPaid)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerPayment.PaymentMode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerPayment.PaymentDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerPayment.IsSuccess)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.CustomerLicenseList.Count > 0)
                        {
                            foreach (var item in Model.CustomerPaymentList.OrderByDescending(p => p.PaymentID))
                            {
                                <tr>
                                    <td><span>@(Model.CustomerPaymentList.IndexOf(item) + 1)</span></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PaymentID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AmountPaid)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PaymentMode)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.PaymentDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsSuccess)
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr class="text-center">
                                <td colspan="6">No records found.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
