@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using CSRPulse.Model
@{
    var uData = HttpContextAccessor.HttpContext.Session.GetComplexData<UserDetail>("User");
}

    <div class="col-xl-4 col-lg-5">
        <div class="card text-center">
            <div class="card-body">
                <img src="~/assets/images/users/@uData.ImageName" asp-append-version="true" class="rounded-circle avatar-lg img-thumbnail" alt="profile-image">

                <h4 class="mb-0 mt-2">@(uData.FullName)</h4>
                <p class="font-14">@(uData.RoleName)</p>
                <button type="button" class="btn btn-success btn-sm mb-2">Follow</button>
                <button type="button" class="btn btn-danger btn-sm mb-2">Message</button>

                <div class="text-start mt-3">
                    <h4 class="font-13 text-uppercase">About Me :</h4>
                    <p class="font-13 mb-3">
                        Hi I'm @(uData.FullName), has been the industry's standard dummy text ever since the
                        1500s, when an unknown printer took a galley of type.
                    </p>
                    <p class="mb-2 font-13">                        
                        <strong><i class="uil-key-skeleton-alt"></i> User Name :</strong> <span class="ms-2">
                            @(uData.UserName)
                        </span>
                    </p>

                    <p class="mb-2 font-13">
                        <strong><i class="uil uil-phone"></i> Mobile :</strong><span class="ms-2">
                            @(uData.MobileNo)
                        </span>
                        
                    </p>

                    <p class="mb-2 font-13"><strong><i class="uil uil-at"></i> Email :</strong> <span class="ms-2 "> @(uData.EmailID)</span></p>
                    <p class="mb-1 font-13"><strong><i class="uil uil-location"></i> Location :</strong> <span class="ms-2">INDIA</span></p>
                </div>


            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div>
