@model Project
@using CSRPulse.Common
<div class="row">
    <div class="col-12">
        <form data-ajax="true" data-ajax-method="POST" asp-controller="Project" asp-action="Edit" data-ajax-success="OnEdit">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProjectId" />           
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label asp-for="PartnerId" class="form-label required"></label>
                    <select asp-for="PartnerId" id="ddlPartnerId" asp-items="@ViewBag.ddlPartner" aria-required="true" class="form-select" disabled>
                    </select>
                    <input type="hidden" asp-for="PartnerId" />
                    <span asp-validation-for="PartnerId" class="invalid"></span>
                </div>
                <div class="col-md-12 mb-3">
                    <label asp-for="ProjectName" class="form-label required"></label>
                    <input type="text" asp-for="ProjectName" class="form-control" maxlength="4000" placeholder="Enter Name of the Organisation(max 4000 characters)" autocomplete="off">
                    <span asp-validation-for="ProjectName" class="invalid"></span>
                </div>
                <div class="col-md-12 mb-3">
                    <label asp-for="ShortName" class="form-label"></label>
                    <input type="text" asp-for="ShortName" class="form-control" maxlength="2000" placeholder="Enter Project Short Name(max 2000 characters)" autocomplete="off">
                    <span asp-validation-for="ShortName" class="invalid"></span>
                </div>

                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <label asp-for="StartDate" class="form-label required"></label>
                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @readonly = "readonly" } })
                    <span asp-validation-for="StartDate" class="invalid"></span>
                </div>

                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <label asp-for="EndDate" class="form-label required"></label>
                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @readonly = "readonly" } })
                    <span asp-validation-for="EndDate" class="invalid"></span>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <label asp-for="ThemeId" class="form-label required"></label>
                    <select asp-for="ThemeId" asp-items="@ViewBag.ddlTheme" aria-required="true" class="form-select">
                        <option disabled="" label="Select Theme" selected="" value=""></option>
                    </select>
                    <span asp-validation-for="ThemeId" class="invalid"></span>
                </div>

                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <label asp-for="SubThemeId" class="form-label required"></label>
                    <select asp-for="SubThemeId" asp-items="@ViewBag.ddlSubTheme" aria-required="true" class="form-select">
                        <option label="Select SubTheme" selected="" value=""></option>
                    </select>
                    <span asp-validation-for="SubThemeId" class="invalid"></span>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <label asp-for="ProgramManagerId" class="form-label required"></label>
                    <select asp-for="ProgramManagerId" id="pmId" asp-items="@ViewBag.ddlPM" aria-required="true" class="form-select" disabled>
                        <option label="Select Program Manager" selected="" value=""></option>
                    </select>
                    <input type="hidden" asp-for="ProgramManagerId" />
                    <span asp-validation-for="ProgramManagerId" class="invalid"></span>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <label asp-for="ReportType" class="form-label required"></label>
                    <select asp-for="ReportType" id="ddlReportType" asp-items="@Html.GetEnumSelectList<ReportType>()" aria-required="true" class="form-select" disabled>
                    </select>
                    <input type="hidden" asp-for="ReportType" />
                    <span asp-validation-for="ReportType" class="invalid"></span>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <label asp-for="LocationLavel" class="form-label required"></label>
                    <select asp-for="LocationLavel" asp-items="@Html.GetEnumSelectList<LocationLevel>()" aria-required="true" class="form-select">
                        <option label="Select Implementation Level" selected="" value=""></option>
                    </select>
                    <span asp-validation-for="LocationLavel" class="invalid"></span>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <label asp-for="TotalBudget" class="form-label required"></label>
                    <input type="text" asp-for="TotalBudget" asp-format="{0:N}" class="form-control" autocomplete="off" maxlength="16" readonly>
                    <span asp-validation-for="TotalBudget" class="invalid"></span>
                </div>

                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <label asp-for="TrustContribution" class="form-label required"></label>
                    <div class="row">
                        <div class="col-10">
                            <input type="text" asp-for="TrustContribution" asp-format="{0:N}" class="form-control" autocomplete="off" maxlength="16" readonly>
                            <span asp-validation-for="TrustContribution" class="invalid"></span>
                        </div>
                        <div class="col-2"><label id="lblTrustPer" class="col-form-label text-info">0.00%</label></div>
                    </div>
                </div>

                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <label asp-for="OtherSource" class="form-label"></label>
                    <div class="row">
                        <div class="col-10">
                            <input type="text" asp-for="OtherSource" asp-format="{0:N}" class="form-control" autocomplete="off" maxlength="10" readonly>
                            <span asp-validation-for="OtherSource" class="invalid"></span>
                        </div>
                        <div class="col-2"><label id="lblOtherPer" class="col-form-label text-info">0.00%</label></div>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <div class="row mb-2">
                        <div class="col text-start text-info">
                            <i>Support from internal breakup</i>
                        </div>
                        <div class="col text-end">
                            <button data-bs-toggle="tooltip" data-bs-placement="top" title="Click here, to add new internal breakup" id="btnAddIS" class="btn btn-outline-info btn-sm btn-rounded" formnovalidate type="submit" name="ButtonType" value="AddIS"><i class="mdi mdi-plus"></i> Add</button>
                        </div>
                    </div>
                    <div id="div-internalSource-grid">
                        <partial name="_TrustContribution" model="Model" />
                    </div>
                    <div class="text-warning text-end">
                        <label id="lblRemaning_IS">Remaining amount (₹): 0 </label>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <div class="row mb-2">
                        <div class="col text-start text-info">
                            <i>Other sources contribution breakup</i>
                        </div>
                        <div class="col text-end">
                            <button data-bs-toggle="tooltip" data-bs-placement="top" title="Click here, to add new Other sources contribution breakup"  id="btnAddOS" class="btn btn-outline-info btn-sm btn-rounded" formnovalidate type="submit" name="ButtonType" value="AddOS"><i class="mdi mdi-plus"></i> Add</button>
                        </div>
                    </div>
                    <div id="div-otherSource-grid">
                        <partial name="_OtherSourcesContribution" model="Model" />
                    </div>
                    <div class="text-warning text-end">
                        <label id="lblRemaning_OS">Remaining amount (₹): 0 </label>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <div class="row">
                        <div class="col-7">
                            <label asp-for="hdnLocationIds" class="form-label required"></label>
                            <input type="hidden" asp-for="hdnLocationIds" /><br />
                            <span asp-validation-for="hdnLocationIds" class="invalid"></span>
                        </div>
                        <div class="col-5 text-end">
                            <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#AddLocationModal">
                                <i class="mdi mdi-plus-circle me-1"></i>Add & View Location
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <label asp-for="Status" class="form-label required"></label>
                    <select asp-for="Status" id="ddlStatus" asp-items="@Html.GetEnumSelectList<ProjectStatus>()" aria-required="true" class="form-select" disabled>
                    </select>
                    <input type="hidden" asp-for="Status" />
                    <span asp-validation-for="Status" class="invalid"></span>
                </div>

                <div class="mb-2 text-end">
                    <a asp-area="" asp-controller="Project" asp-action="Index" class="btn btn-light btn-sm"><i class="dripicons-reply m-1"></i> Back to list </a>
                    <button class="btn btn-primary btn-sm" type="submit"><i class="mdi mdi-file-document m-1"></i> Update </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    function OnEdit(data) {
        if (data.msg == 'addOS') {
            $("#div-otherSource-grid").html(data.htmlData);
        }
       else if (data.msg == 'addIS') {
            $("#div-internalSource-grid").html(data.htmlData);
        }
        else if (data.msg == "save") {
            commonMessage('warning', 'Project Updated Successfully');
            window.location.href = "@Url.Action("Index", "Project")";
        }
        else {
            $("#div-edit").html(data.htmlData);
        }
    }
    $(document).ready(function () {
        $('#lblTrustPer').text(((@Model.TrustContribution * 100) / @Model.TotalBudget).toFixed(2) + " %");
        $('#lblOtherPer').text(((@Model.OtherSource * 100) / @Model.TotalBudget).toFixed(2) + " %");
    });
</script>