@model Project

<form data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" enctype="multipart/form-data" asp-action="SaveOverview" asp-controller="Project"
      data-ajax-success="onProjectOverview">
    <div class="row">
        <div class="col-6"><h5 class="mb-3"> <label>Project Overview</label></h5></div>
        <div class="col-6 text-end">
            <input type="hidden" asp-for="ProjectId" id="ProjectIdForOverview" />            
            <button class="btn btn-primary btn-sm" type="submit" onclick="handleSubmit()" title="Click here, to save project narrative overview"><i class=" uil-weight me-1"></i> Save</button>
        </div>
    </div>
    <div class="row">
        @if (Model.ProjectOverviewModule != null)
        {
            for (int i = 0; i < Model.ProjectOverviewModule.Count; i++)
            {
                <div class="col-md-12 mb-3">
                    <input type="hidden" id="ProjectQuestion_@i" asp-for="@Model.ProjectOverviewModule[i].ProjectQuestionId" />
                    <input type="hidden" id="Process_@i" asp-for="@Model.ProjectOverviewModule[i].ProcessId" />
                    <input type="hidden" id="Project_@i" asp-for="@Model.ProjectOverviewModule[i].ProjectId" />
                    <input type="hidden" id="Question_@i" asp-for="@Model.ProjectOverviewModule[i].QuestionId" />
                    <input type="hidden" id="Order_@i" asp-for="@Model.ProjectOverviewModule[i].OrderNo" />
                    <input type="hidden" id="questiontype_@i" asp-for="@Model.ProjectOverviewModule[i].QuestionType" />
                    <input type="hidden" id="Answerid_@i" asp-for="@Model.ProjectOverviewModule[i].ProjectAnswerId" />
                    @if (Model.ProjectOverviewModule[i].QuestionType.ToUpper() == "TEXT")
                    {
                        <div class="mb-3">
                            <label asp-for="@Model.ProjectOverviewModule[i].Projectanswer" class="form-label mb-2">@Model.ProjectOverviewModule[i].Question</label>
                            <input id="Projectanswer_@i" asp-for="@Model.ProjectOverviewModule[i].Projectanswer" type="hidden" class="form-control" />

                            <div id="editor_@i" onchange="help(this)" class="editor_@i note-editor mb-2" style="height: 250px;">
                            </div>
                            <span asp-validation-for="@Model.ProjectOverviewModule[i].Projectanswer" class="invalid"></span>
                        </div>

                        <script type="text/javascript">
                            var editor = new Quill('.editor_@i', {
                                theme: 'snow',
                                modules: {
                                    toolbar: [ [{ font: [] }, { size: [] }],
                                        ["bold", "italic", "underline", "strike"],
                                        [{ color: [] }, { background: [] }],
                                        [{ script: "super" }, { script: "sub" }],
                                        [{ header: [!1, 1, 2, 3, 4, 5, 6] }],
                                        [{ list: "ordered" }, { list: "bullet" }],
                                        ["direction", { align: [] }],
                                        ["clean"]
                                    ]
                                }
                            });

                            // This will set `ignore` for all validation calls
                            jQuery.validator.setDefaults({
                                // This will ignore all hidden elements alongside `contenteditable` elements
                                // that have no `name` attribute
                                ignore: ":hidden, [contenteditable='true']:not([name])"
                            });

                            function handleSubmit() {
                                document.getElementById('Projectanswer_@i').value = editor.root.innerHTML;
                            };
                        </script>
                    }

                    else
                    {
                        <div>
                            <select aria-required="true" id="Answer_@i" asp-for="@Model.ProjectOverviewModule[i].Projectanswer" class="form-select">
                                <option disabled="" label="Select" selected="" value=""></option>
                                <option label="Yes" value="0"></option>
                                <option label="No" value="1"></option>
                            </select>
                        </div>
                    }
                </div>
            }
        }
    </div>
</form>

