@model IEnumerable<Activity>
<div class="card">
    <div class="card-body">
        <div class="text-end">
            <a asp-controller="Activity" asp-action="Create" class="btn btn-danger btn-sm btn-rounded mb-3"><i class="mdi mdi-plus-circle me-1"></i> Add New Activity</a>
        </div>
        <table id="basic-datatable" class="table table-hover dt-responsive nowrap w-100">
            <thead class="thead-light">
                <tr>
                    <th width="5%">#</th>
                    <th>@Html.DisplayNameFor(m=>m.ActivityName)</th>
                    <th>@Html.DisplayNameFor(m=>m.ActivityCode)</th>
                    <th width="5%">@Html.DisplayNameFor(m => m.IsActive)</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    @foreach (var activity in Model)
                    {
                        <tr>
                            <td>
                                <span>@(Model.ToList().IndexOf(activity) +1)</span>
                            </td>

                            <td><span data-bs-toggle="tooltip" data-bs-placement="top" title="Click here, to edit this activity."> @Html.ActionLink(activity.ActivityName, "Edit", "Activity", new { activityId = activity.ActivityId })</span></td>
                            <td>@activity.ActivityCode</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="switch_@activity.ActivityId" data-bs-toggle="modal" data-bs-target="#info-header-modal" data-switch="success" onchange="openpopup(this)" @if (activity.IsActive == true) { <text> checked="checked" </text> } />
                                    <label for="switch_@activity.ActivityId" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4">No Records Found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        Basicdatatable();
    });
</script>